html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

:root {
  --blue-color: #5c8fe8;
  --yellow-color: #ffc81d;
  --black-color: #434343;
  --grey-color: #979797;
  --purple-color: #867bcf;
  --orange-color: #ff6401;
  --pink-color: #f3b3cf;
  font-family: "stratos", sans-serif;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
}

body {
  margin: 0;
  padding: 0;
}

a {
  color: #ffffff;
  text-decoration: none;
}

ul {
  list-style: none;
}

p {
  margin: 0.5rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "stratos", cursive;
  margin-bottom: 0.55rem;
  line-height: 1.5;
}

.top__heading {
  font-size: 14px;
  font-weight: 500;
  color: var(--purple-color);
  text-transform: uppercase;
  margin-bottom: 0;
}

/* Navigation */
.nav__main {
  background-color: var(--blue-color);
  color: #ffffff;
  font-family: "stratos", "sans-serif";
  padding: 20px 40px;
}

.nav__main p {
  margin: 0;
}

.nav__main .nav__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.nav__main .nav__container .nav__logo {
  font-weight: 800;
}

.nav__main .nav__container .nav__items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: end;
  margin-block-start: 0;
  margin-block-end: 0;
}

/* First section: landing */
.showcase {
  background-color: var(--blue-color);
  color: #ffffff;
  height: 90vh;
}

.showcase__content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  height: 90vh;
}

.showcase__content h1 {
  color: var(--yellow-color);
  grid-column: 1 / span 6;
  font-size: 12rem;
  text-align: center;
  font-weight: 300;
}

.showcase .showcase__content p {
  grid-column: 3 / span 2;
  text-align: center;
  align-self: end;
  font-weight: 300;
}

.showcase .showcase__content a {
  grid-column: 3 / span 2;
  text-align: center;
  align-self: end;
  margin-bottom: 30px;
}

.showcase .showcase__content a::after {
  content: "→";
  margin-left: 5px;
}

/* Second section: projects */
.projects {
  background-color: var(--black-color);
  color: #ffffff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  border: 0.01rem solid var(--grey-color);
  height: 100vh;
}

.projects .projects__content {
  align-self: center;
  padding: 5rem;
}

.projects .projects__content h2 {
  align-self: center;
  font-size: 24px;
  margin-bottom: 40px;
}

.projects .projects__content p {
  font-family: stratos-lights, sans-serif;
  font-weight: 300;
}

.projects .projects__items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.projects .projects__items .project__single {
  padding: 40px;
  text-align: center;
  border: 0.01rem solid var(--grey-color);
  align-items: center;
}

.projects .projects__items .project__single .project__title {
  font-size: 19px;
  margin-top: 0px;
}

.projects .projects__items .project__single .project__description {
  font-size: 14px;
  margin-bottom: 30px;
  font-family: stratos-lights, sans-serif;
  font-weight: 300;
}

.projects .projects__items .project__single .project__button {
  font-size: 13px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  padding: 6px 14px;
}

.projects .projects__items .project__single .project__button:hover {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  color: var(--black-color);
}

/* Second section: experience */
.experience {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  height: 100vh;
  background-color: var(--orange-color);
}

.experience .experience__content {
  color: #ffffff;
  grid-column: 1 / span 4;
  padding-left: 5rem;
  padding-right: 20%;
  align-self: center;
  z-index: 1;
}

.experience .experience__content h2 {
  font-size: 24px;
  margin-bottom: 40px;
}

.experience .experience__content .experience__item {
  margin-bottom: 50px;
}

.experience .experience__content .experience__item h3 {
  font-size: 19px;
  margin-bottom: 0;
}

.experience .experience__content .experience__item .experience__year {
  font-size: 19px;
  margin-top: 0;
}

.experience .experience__content .experience__item .experience__description {
  font-size: 18px;
  font-family: stratos-lights, sans-serif;
  font-weight: 300;
}

.experience .experience__content .experience__item .experience__button {
  text-decoration: underline;
}

.experience .experience__images {
  background-color: var(--pink-color);
  display: grid;
}

.experience .experience__images img {
  align-self: center;
  margin-left: -200px;
  height: 500px;
}

.experience .experience__empty {
  background-color: var(--pink-color);
}

/* Third section: courses */
.courses {
  background-color: var(--black-color);
  color: #ffffff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.courses h3 {
  margin-top: 0;
}

.courses__title {
  grid-column: 1 / span 2;
  text-align: center;
  border: 0.01rem solid var(--grey-color);
}

.courses .courses__training {
  display: grid;
  justify-content: center;
}

.courses .courses__training .courses__training-single {
  border: 0.01rem solid var(--grey-color);
  padding: 5rem;
}

.courses .courses__course {
  padding: 5rem;
  border: 0.01rem solid var(--grey-color);
}

/* Fourth section: About */
.about {
  background-color: var(--yellow-color);
  height: 100vh;
  display: grid;
  padding: 5rem;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
}

.about .about__content {
  position: absolute;
  z-index: 2;
  width: 70%;
}

.about .about__content h2 {
  align-self: center;
  font-size: 24px;
  margin-bottom: 40px;
}

.about .about__content p {
  font-size: 28px;
  font-family: stratos-lights, sans-serif;
  font-weight: 300;
}

.about img {
  position: relative;
  z-index: 1;
  grid-column: 4 / span 2;
  opacity: 0.4;
}
